
/*Mobile*/

@media only screen and (max-width: 767px) {

    #sobre h2, .tec-texto h2, #projetos h2{
        font-size: 2em;
    }
    /*HEADER E BANNER*/

    .nav-menu{
        display:none;
    }
    .banner-apresentacao{
        margin-top: 50px;
        display: block;
        text-align: center;
        min-height: 700px;
        max-height: 900px;
        height: 100%;
        margin-bottom: 50px;
    }
    .foto{
        width: 100%;
        margin-top: 40px;
    }
    .foto img{
        width: 200px;
        height: 200px;

    }
    .menu{
        justify-content: space-between;
    }
    .gradiente{
        font-size: 2.5em;
    }
    .texto h2{
        font-size: 1.5em;
    }
    .btn-portfolio {
        font-size: 0.8em;        
    }

    /*SOBRE*/

    #sobre{
        padding: 20px;
        
    }

    /*TECNOLOGIAS*/
    #skills{
        min-height: 500px;
        margin: 50px;
    }

    /*PROJETOS*/
    

    /*CONTATOS*/
    .formas-contato h5{
        font-size: 1em;
    }
    .container-contato h2{
        font-size: 1.5em;
        margin-bottom: 30px;
    }
}