
/*Mobile*/

@media only screen and (max-width: 767px) {

    header{
        position: initial;
    }

    .menu{
        justify-content: space-between;
        padding: 0 20px 10px 50px;
    }

    .menu .menu-btn i{
        display: block;
    }
    .menu ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #161616;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    .menu ul.open{
        left: 0;
    } 

    .menu ul li{
        width: 100%;
        margin: 50px 0;
    }
    .menu ul li a {
        font-size: 23px;
    }
    .menu ul li a.active,
    .menu ul li a:hover{
        background: none;
        color: #7d12ff;
    }   

    /*HEADER E BANNER*/

    .banner-apresentacao{
        margin-top: 80px;
        display: block;
        text-align: center;
        min-height: 700px;
        max-height: 900px;
        height: 100%;
        margin-bottom: 50px;
    }
   
    .foto{
        width: 100%;
        margin-top: 40px;
    }
    .foto img{
        width: 200px;
        height: 200px;

    }
    .menu{
        justify-content: space-between;
    }
    .gradiente{
        font-size: 2.5em;
    }
    .texto h2{
        font-size: 1.5em;
    }
    .botoes {
        font-size: 0.8em;        
    }

    /*SOBRE*/

    #sobre{
        padding: 20px;
        
    }

    /*TECNOLOGIAS*/
    #skills{
        min-height: 500px;
        margin: 50px;
    }

    .tec-texto h2, #sobre h2, #projetos h2{
        font-size: 1.9em;
    }
    .tec-texto p{
        font-size: 1em;
    }

    /*PROJETOS*/
    .ctn-projetos .botoes {
       width: 100%;
       padding: 10px 15px; 
    }
    .ctn-projetos{
        font-size: 1em;
       
    }

    /*CONTATOS*/
    .formas-contato h5{
        font-size: 1em;
    }
    .container-contato h2{
        font-size: 1.5em;
        margin-bottom: 30px;
    }
}