
/*Mobile*/

@media only screen and (max-width: 767px) {
    /*HEADER E BANNER*/

    .nav-menu{
        display:none;
    }
    .banner-apresentacao{
        margin-top: 50px;
        display: block;
        text-align: center;  
        height: 700px;
    }
    .foto{
        width: 100%;
        margin-top: 40px;
    }
    .foto img{
        width: 90%;
        height: 90%;
    }
    .menu{
        justify-content: space-between;
    }
    .gradiente{
        font-size: 2.5em;
    }
    .texto h2{
        font-size: 1.5em;
    }
    .btn-portfolio {
        font-size: 0.8em;        
    }

    /*SOBRE*/

    #sobre{
        padding: 20px;
        height: auto;
    }



    /*TECNOLOGIAS*/
}